html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body{
    height:100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    background-image: url("images/Background.jpg");
    background-size:cover;
}

h1{
    margin: 30px 0px;
    color: #313131;
    font-size: 42px;
    font-weight: 900px;
    text-align: center;
}
h1 span{
    font-weight: 400;
}
[hidden] {
    display: none !important;
}
 
 
.modal {
    height: 100vh;
    width: 100vw;
 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.modal .blanket {
    background-color: rgba(0, 0, 0, .8);
 
    height: 100vh;
    width: 100vw;
 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
 
.modal-body {
    background-color: #fff;
    border: 1rem solid skyblue;
 
    height: 50vh;
    max-width: 50vw;
 
    position: relative;
    z-index: 101;
 
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.Buttons{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Button{
    width: 72px;
    height: 72px;
    border:none;
    background-color: transparent;
    cursor: pointer;
    outline:none;
    opacity:.7;
    margin-top: 20%;
}
.Button:hover{
    opacity:1
}

#ebo{
    background-image: url(images/ebo.png);
}
#aoba{
    background-image: url(images/aoba.png);
}
#nina{
    background-image: url(images/nina.png);
}
#cosmos{
    background-image: url(images/cosmos.png);
}

#mac{
    background-image: url(images/mac.png);
}
#steve{ 
    background-image: url(images/steve.png);
}
#kali{
    background-image: url(images/kali.png);
}
#kaya{
    background-image: url(images/kaya.png);
}
#otis{
    background-image: url(images/otis.png);
}
#britell{
    background-image: url(images/britell.png);
}
#joni{
    background-image: url(images/joni.png);
}
#piero{
    background-image: url(images/piero.png);
}